/* * 
{
  border: 1px solid red;
} */

/* Fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("./assets/fonts/montserrat/montserrat-medium.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat-medium.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff"),
    url("../fonts/montserrat-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("./assets/fonts/montserrat/montserrat-bold.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat-bold.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("./assets/fonts/montserrat/montserrat-extra-bold.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat-extra-bold.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat-extra-bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url("./assets/fonts/merriweather/merriweather-regular.woff2")
      format("woff2"),
    url("./assets/fonts/merriweather/merriweather-regular.woff") format("woff"),
    url("./assets/fonts/merriweather/merriweather-regular.ttf")
      format("truetype");
}

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/permanent-marker-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/permanent-marker-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/permanent-marker-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* ---- RESETS ---- */

/* This reset is from the Build_UX guy */
html {
  box-sizing: border-box;
  /* Build_UX guy uses 62.5% for font-size, which makes 1 rem 10px. So 16px would be 1.6rem */
  font-size: 62.5%;
}

/* These are from Andy Bell a la https://hankchizljaw.com/wrote/a-modern-css-reset/  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
}

/*  -- VARIABLES -- */

:root {
  /* Colorbook */
  --white: #fcfcfc;
  --off-white: #F1F3F1;
  --green-lt: #607a5e;
  --gold: #B38B27;
  --green-dk: #2b3b3d;
  --brown-lt: #5e5146;
  --brown-dk: #3a342e;
  --black: #1F2B3A;

  /* Spacing */
  --space-eighth: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.08rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* Typography */
  --font-family-sans: "Montserrat", sans-serif;
  --font-family-serif: "Merriweather", serif;

  /* Font weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;

  /* Transition */
  --transition-button: 0.15s ease-in-out;

  /* Border Radius */
  --radius: 200px;
}

/* ---- END RESETS ---- */

/* Type Specs */
.t-hero-sans {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-extra-bold);
  font-size: 4rem;
  line-height: 4rem;
  color: var(--black);
  letter-spacing: -0.08rem;
  text-transform: uppercase;
}

/* @media (max-width: 899px) {
  .t-hero-sans {
    font-size: 4rem;
    line-height: 4rem;
  }
} */

/* @media (min-width: 900px) {
  .t-hero-sans {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
} */

.t-hero-serif {
  font-family: var(--font-family-serif);
  font-size: 1.84rem;
  font-weight: var(--weight-regular);
  line-height: 1.5;
  color: var(--black);
}

.t-testimonial-sans {
  font-family: var(--font-family-sans);
  font-size: 4rem;
  font-weight: var(--weight-extra-bold);
  line-height: 1.25;
  color: var(--off-white);
  padding-top: var(--space-oct);
}

.t-section-header-sans {
  font-family: var(--font-family-sans);
  font-size: 3.2rem;
  font-weight: var(--weight-extra-bold);
  line-height: 1.375;
  color: var(--black);
}

.t-clean-up-header-sans {
  font-family: var(--font-family-sans);
  font-size: 3.2rem;
  font-weight: var(--weight-extra-bold);
  line-height: 1.375;
  color: var(--off-white);
}

.t-location-sans {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-semibold);
  line-height: 1.375;
  letter-spacing: 0.05rem;
  color: var(--gold);
}

.t-label-sans {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1.375;
  letter-spacing: 0.05rem;
  color: var(--black);
}

.t-footer-sans {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-medium);
  line-height: 1;
  color: var(--black);
}

.t-fine-print-sans {
  font-family: var(--font-family-sans);
  font-size: 1.2rem;
  font-weight: var(--weight-medium);
  line-height: 1;
  color: var(--black);
}

.t-body-serif {
  font-family: var(--font-family-serif);
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  line-height: 1.625;
  color: var(--black);
}

.t-white-serif {
  font-family: var(--font-family-serif);
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  line-height: 1.625;
  color: var(--off-white);
}

.t-testimonial-label {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1.375;
  letter-spacing: 0.05rem;
  color: var(--off-white);
}

.t-testimonial-link {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1.375;
  letter-spacing: 0.05rem;
  color: var(--gold);
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 6px 0px;
}

.t-testimonial-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  right: 100%;
  position: absolute;
  background: var(--gold);
  transition: all 500ms cubic-bezier(0.2, 1, 0.2, 1) 0s;
  width: 0;
}

.t-testimonial-link:hover:after {
  width: 100%;
  right: 0;
}

/* @media (max-width: 900px) {
.t-hero-serif {
  font-size: 1.84rem;
}
} */

/*  -- Spacing & Alignment Utilities -- */

.margin-bottom-default {
  margin-bottom: var(--space-default);
}

.margin-bottom-double {
  margin-bottom: var(--space-double);
}

.padding-bottom-quad {
  padding-bottom: var(--space-quad);
}

.width-double {
  margin-left: var(--space-double);
  margin-right: var(--space-double);
}

.width-quad {
  margin-left: var(--space-quad);
  margin-right: var(--space-quad);
}

.width-oct {
  margin-left: var(--space-oct);
  margin-right: var(--space-oct);
}

.centered {
  text-align: center;
}

/* -- Style Utilities -- */

.section-title {
  font-weight: var(--weight-bold);
  color: var(--green-lt);
  border-bottom: 3px solid var(--green-lt);
  display: inline-block;
  margin: var(--space-double) 0rem;
}

/* Body */

body {
  font-family: var(--font-family-sans);
  background-color: var(--white);
  font-size: 1.6rem;
}

/* -- Nav -- */

nav {
  position: relative;
  justify-content: space-between;
  margin-bottom: var(--space-default);
  margin-top: var(--space-double);
  align-items: center;
  text-align: center;
}

.logo svg {
  width: 90px;
  margin-bottom: var(--space-default);
  fill: var(--black);
}

.nav-links {
  display: none;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  font-weight: var(--weight-bold);
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  padding: 2px 0px;
}

.nav-links li {
  list-style: none;
}

.underline {
  text-decoration: none;
  border-bottom: 3px solid var(--black);
  padding-bottom: 5px;
}

.nav-item:nth-child(-n + 2) a {
  text-decoration: none;
}

/* -- HERO -- */

.hero {
  text-align: center;
}

.intro-content-img {
  margin-top: -25rem;
}

.img-tree {
  opacity: 37%;
  position: relative;
  bottom: -20rem;
  z-index: -1;
}

ul.location {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-double);
}

.location {
  text-transform: uppercase;
}

li.location:last-child {
  padding-left: 1.5rem;
}

li.location:first-child::after {
  content: "\2022";
  padding-left: 1.5rem;
}

.byline {
  margin-bottom: var(--space-default);
}

/* Buttons */

.button {
  font-weight: var(--weight-bold);
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  border: 0;
  color: var(--white);
  background: var(--black);
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  letter-spacing: 0.15rem;
  border-radius: 0px;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin-bottom: var(--space-oct);
}

.button:hover {
  background: var(--brown-lt);
  transition: 0.15s ease-in-out;
}

@media (max-width: 420px) {
  .button {
    font-size: 1.2rem;
  }
}

/* Hero */

/* -- Work -- */

.work {
  background-color: var(--off-white);
}

.page-transition {
  position: relative;
}

.page-transition > svg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-transition-bottom > svg {
  position: absolute;
}

.work. {
  text-align: center;
}

.work h3 {
  padding-top: var(--space-default);
  text-align: center;
}

h4.t-location-sans {
  text-transform: uppercase;
  margin-bottom: var(--space-double);
}


.work-types {
  padding-bottom: var(--space-double);
}

li>p {
  margin-bottom: var(--space-quad);
}

.work-types img {
  margin-bottom: var(--space-double);
}

/* -- Team -- */

.team {
  margin-bottom: var(--space-quad);
  background-color: var(--white);
  padding-bottom: var(--)
}

.section-headshots {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  overflow: scroll;
}

.headshot {
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 281px;
  height: 338px;
  position: relative; */
  min-height: 35rem;
  min-width: 30rem;
  /* display: flex;
  align-items: flex-end; */
  position: relative;
  white-space: nowrap;
}

.headshot h2 {
  font-family: 'Professor';
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.1rem;
  color: var(--white);
  padding-bottom: 4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


.headshot p {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1.375;
  letter-spacing: 0.05rem;
  color: var(--white);
  text-transform: uppercase;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  }



.headshot--brian {
  background-image: url(./assets/images/bryan_bg.png);
}

.headshot--jeremiah {
  background-image: url(./assets/images/jeremiah_bg.png);
}

.headshot--ryley {
  background-image: url(./assets/images/ryley_bg.png);
}

.headshot--curt {
  background-image: url(./assets/images/curt_bg.png);
}

/* -- Testimonial -- */

.testimonial {
  background-color: var(--green-dk);
  margin-bottom: var(--space-quad);
}

/* .review-container {
  display: flex;
  justify-content: center;
} */

.testimonial-stars svg {
  margin-left: 5%;
}

aside {
  /* background-image: url(./assets/images/jacob_haul.jpg);
  width: 100%;
  height: auto; */
  position: relative;
  z-index: -1;
  align-content: center;
  justify-content: center;
}

.clean-up img {
  max-width: 150%;
  overflow: hidden;

}

/* .clean-up img {
  z-index: -1;
  position: relative;
  width: 100%;
  overflow: hidden;
} */

.card {
  position: relative;
  top: -15rem;
  text-align: center;
  background-color: var(--green-dk);
  padding: var(--space-double);
}

/* -- Form -- */

.form-input {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.form-input:nth-child(odd) {
  padding-right: 1rem;
}

@media (max-width: 680px) {
  .form-input:nth-child(odd) {
    padding-right: 0;
  }
}

.form-input:nth-child(even) {
  padding-left: 1rem;
}

@media (max-width: 680px) {
  .form-input:nth-child(even) {
    padding-left: 0;
  }
}

@media (max-width: 680px) {
  .form-input {
    width: 100%;
  }
}

.address {
  display: block;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0 !important;
}

.quote {
  background-color: var(--off-white);
  padding-bottom: 8rem;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  font-weight: 700;
  position: relative;
  top: -5rem;
  color: var(--black);
}

input {
  font-size: 1.6rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--black);
  border-left: 0;
  background-color: transparent;
  padding-top: 0.8rem;
  padding-right: 0;
  padding-bottom: 0.8rem;
  padding-left: 0;
  /* margin-right: 32px; */
  margin-bottom: var(--space-quad);
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

@media (max-width: 680px) {
  input {
    margin-right: 0;
  }
}

textarea {
  font-family: var(--font-family-sans);
  resize: none;
  font-size: 1.6rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--black);
  border-left: 0;
  background-color: transparent;
  padding-bottom: 0rem;
  padding-left: 0;
  margin-bottom: var(--space-double);
  width: 100%;
  max-height: 25px;
}

textarea:focus {
  max-height: 60px;
  transition: all 500ms ease-in-out;
  border-bottom-color: #c0963b;
  padding-bottom: 0.8rem;
}

textarea:focus + label {
  color: #c0963b;
  transition: all ease-in-out 0.15s;
}

.textarea-label {
  top: -2rem;
}

.textarea {
  margin-bottom: 3rem;
}

input:focus {
  border-bottom-color: var(--gold);
  transition: all ease-in-out 0.15s;
}

input:focus + label {
  color: var(--gold);
  transition: all ease-in-out 0.15s;
}
