

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;

  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('./assets/fonts/montserrat/montserrat-regular.woff2') format('woff2'), 
    url('./assets/fonts/montserrat/montserrat-regular.woff') format('woff'), 
    url('./assets/fonts/montserrat/montserrat-regular.ttf') format('truetype'), 

  }
  
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('./assets/fonts/montserrat/montserrat-bold.woff2') format('woff2'), 
    url('./assets/fonts/montserrat/montserrat-bold.woff') format('woff'), 
    url('./assets/fonts/montserrat/montserrat-bold.ttf') format('truetype'), 

}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('./assets/fonts/montserrat/montserrat-extra-bold.woff2') format('woff2'),
    url('./assets/fonts/montserrat/montserrat-extra-bold.woff') format('woff'), 
    url('./assets/fonts/montserrat/montserrat-extra-bold.ttf') format('truetype'), 
    }

@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-display: swap;
src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url('./assets/fonts/merriweather/merriweather-regular.woff2') format('woff2'),
    url('./assets/fonts/merriweather/merriweather-regular.woff') format('woff'), 
    url('./assets/fonts/merriweather/merriweather-regular.ttf') format('truetype'),
}

:root {
  /* Colorbook */
  --white: #F4F4F4;
  --off-white: #ECEEE8;
  --green-lt: #607A5E;
  --gold: #C0963B;
  --green-dk: #38443E;
  --brown-lt: #5E5146;
  --brown-dk: #3A342E;
}

/* Resets */
body {
  font-family: "Montserrat", sans-serif;
}

.page {
  background-color: var(--white);
}
