/* * 
{
  border: 1px solid red;
} */

/* Fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("./assets/fonts/montserrat/montserrat-medium.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat-medium.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat-semibold.woff') format('woff'), 
       url('../fonts/montserrat-semibold.ttf') format('truetype');
}


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("./assets/fonts/montserrat/montserrat-bold.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat-bold.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("./assets/fonts/montserrat/montserrat-extra-bold.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat-extra-bold.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat-extra-bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url("./assets/fonts/merriweather/merriweather-regular.woff2")
      format("woff2"),
    url("./assets/fonts/merriweather/merriweather-regular.woff") format("woff"),
    url("./assets/fonts/merriweather/merriweather-regular.ttf")
      format("truetype");
}

/* ---- RESETS ---- */

/* This reset is from the Build_UX guy */
html {
  box-sizing: border-box;
  /* Build_UX guy uses 62.5% for font-size, which makes 1 rem 10px. So 16px would be 1.6rem */
  font-size: 62.5%;
}

/* These are from Andy Bell a la https://hankchizljaw.com/wrote/a-modern-css-reset/  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
}

:root {
  /* Colorbook */
  --white: #f4f4f4;
  --off-white: #eceee8;
  --green-lt: #607a5e;
  --gold: #c0963b;
  --green-dk: #38443e;
  --brown-lt: #5e5146;
  --brown-dk: #3a342e;

  /* Spacing */
  --space-eighth: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.08rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* Typography */
  --font-family-sans: "Montserrat", sans-serif;
  --font-family-serif: "Merriweather", serif;

  /* Font weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;

  /* Transition */
  --transition-button: .15s ease-in-out;

  /* Border Radius */
  --radius: 200px;
}

/* ---- END RESETS ---- */


/* Type Specs */
.t-hero-sans {
  font-family: var(--font-family-sans);
  font-size: 4rem;
  font-weight: var(--weight-extra-bold);
  line-height: 1.05;
  color: var(--brown-dk);
  letter-spacing: -.08rem;
  text-transform: uppercase;
}

.t-review-sans {
  font-family: var(--font-family-sans);
  font-size: 4rem;
  font-weight: var(--weight-extra-bold);
  line-height: 1.25;
  color: var(--brown-dk);
}

.t-section-header-sans {
  font-family: var(--font-family-sans);
  font-size: 3.2rem;
  font-weight: var(--weight-extra-bold);
  line-height: 1.375;
  color: var(--brown-dk);
}

.t-location-sans {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-semibold);
  line-height: 1.375;
  letter-spacing: .05rem;
  color: var(--brown-dk);
}

.t-label-sans {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1.375;
  letter-spacing: .05rem;
  color: var(--brown-dk);
}

.t-footer-sans {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-medium);
  line-height: 1;
  color: var(--brown-dk);
}

.t-fine-print-sans {
  font-family: var(--font-family-sans);
  font-size: 1.2rem;
  font-weight: var(--weight-medium);
  line-height: 1;
  color: var(--brown-dk);
}

.t-hero-serif {
  font-family: var(--font-family-serif);
  font-size: 2rem;
  font-weight: var(--weight-regular);
  line-height: 1.5;
  color: var(--brown-dk);
}

.t-body-serif {
  font-family: var(--font-family-serif);
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  line-height: 1.625;
  color: var(--brown-dk);
}

@media (min-width: 900px) {
  .t-hero-sans {
    font-size: 6rem;
  }
}

@media (max-width: 900px) {
.t-hero-serif {
  font-size: 1.84rem;
}
}

/* Skip Nav */
.skip-nav {
  padding: var(--space-default);
  display: inline-block;
  position: absolute;
  color: var(--white);
  background-color: var(--brown-dk);
  text-decoration: none;
  border-radius: var(--radius);
  transition: var(--transition-button) transform;
  transform: translate(var(--space-oct), calc(var(--space-quad) * -2));
}

.skip-nav:hover {
  background-color: var(--brown-lt);
  transition: var(--transition-button);
}

.skip-nav:focus {
  outline: 0.4rem solid var(--gold);
  outline-offset: 0.4rem;
  transform: translate(var(--space-oct), calc(var(--space-double)));
}

/* Body */


body {
  font-family: var(--font-family-sans);
  background-color: var(--white);
  font-size: 1.6rem;
}

.margin-primary {
  margin-top: 3.2rem;
  margin-right: 3.2rem;
  margin-left: 3.2rem;
}

@media (min-width: 900px) {
  .margin-primary {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}



/*  Nav */

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: var(--space-quad);
  align-items: center;
}

.phone-link {
  font-weight: var(--weight-bold);
  color: var(--brown-dk);
  border-bottom: 3px solid var(--brown-dk);
  text-decoration: none;
}

.logo {
  width: 100px;
  fill: var(--brown-dk);
}

p.t-hero-serif {
  margin-bottom: 6rem;
}


/* Buttons */


.button {
  font-weight: var(--weight-bold);
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  border: 0;
  color: var(--white);
  background: var(--brown-dk);
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  letter-spacing: .15rem;
  border-radius: 200px;
  transition: .15s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: var(--brown-lt);
  transition: .15s ease-in-out;
}


/* Hero */


ul.location {
  display: flex;
  list-style: none;
  margin-bottom: var(--space-double);
  text-transform: uppercase;
  color: var(--gold);
}

.location li:first-of-type {
  margin-right: 1.6rem;
}

.location li:last-of-type {
  margin-left: 1.6rem;
}

.intro {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 12rem;
}

.intro-content {
 width: 50%;
}

.img-tree {
  width: 90%;
  opacity: 35%;
  visibility: visible;
  float: right;
}

h1.t-hero-sans {
  margin-bottom: var(--space-double);
}

/* Form */

.quote::before {
  content: url(./assets/images/ragged-edge-top.svg); 
  position: relative;
  top: -3rem;
  margin: 0;
}

/* input {
  display: block;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--black);
  border-left: 0;
  width: 100%;
} */

.form-intro {
  text-align: center;
}

.section-title {
  font-weight: var(--weight-bold);
  color: var(--green-lt);
  border-bottom: 3px solid var(--green-lt);
  display: inline-block;
  margin-bottom: 6rem;
}

h4.t-section-header-sans {
  margin-bottom: var(--space-default);
}

p.t-body-serif {
  margin-bottom: var(--space-quad);
}

p a {
  color: var(--brown-dk);
}

.form-input {
  width: 50%;
}

.form-input:nth-child(odd) {
  padding-right: 2.5rem;
}

.form-input:nth-child(even) {
  padding-left: 2.5rem;
}

.form-container {
  /* display: flex; */
  /* justify-content: center;
  flex-wrap: wrap;
  width: 100%; */
}

.quote {
  background-color: var(--off-white);
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  min-width: 80px;
}

label {
  display: block;
  font-weight: 700;
  position: relative;
  top: -5rem;
}

input {
  font-size: 1.6rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--brown-dk);
  border-left: 0;
  background-color: transparent;
  padding-top: .8rem;
  padding-right: 0;
  padding-bottom: .8rem;
  padding-left: 0;
  margin-right: 32px;
  margin-bottom: var(--space-quad);
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
}


textarea {
  resize: none;
  font-size: 1.6rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--brown-dk);
  border-left: 0;
  background-color: transparent;
  padding-bottom: 0rem;
  padding-left: 0;
  margin-bottom: var(--space-double);
  width: 100%;
  max-height: 25px;
}

textarea:focus {
  max-height: 60px;
  transition: all 500ms ease-in-out;
  border-bottom-color: #c0963b;
  padding-bottom: .8rem;
}

textarea:focus + label {
  color: #c0963b;
  transition: all ease-in-out .15s;
}

input:focus {
  border-bottom-color: var(--gold);
  transition: all ease-in-out .15s;
}

input:focus + label {
  color: var(--gold);
  transition: all ease-in-out .15s;
}

footer {
  background-color: var(--off-white);
  text-align: center;
  position: relative;
}

footer p{
  color: var(--brown-dk);
  opacity: 70%;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.social-icon {
  display: inline-block;
  width: 3.2rem;
}